.navbar{
    margin-bottom: 0;
    border-radius: 0;
}
.carousel-inner img{
    width: 795px;
    height: 400px;
    margin: auto;
}
footer{
    padding: 25px;
    color: #ffffff;
    background-color: #555555;
}
@media (max-width: 600px) {
    .carousel-caption{
        display: none;
    }
}