.inner-container{
    margin: 0 auto;
    width: 980px;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
.active{
    color: #189ce7 !important;
}

/*header styling starts*/
header{
    float: left;
    width: 100%;
}
.top-section{
    float: left;
    width: 100%;
    max-height: 104px;
    background: #ffffff;
}
.logo{
    float: left;
    width: 50%;
}
.logo img{
    float: left;
    margin-top: 20px;
}
.top-content{
    float: left;
    width: 50%;
}
.approach{
    height: 47px;
}
.approach span img{
    float: left;
    margin: 27px 4px 0 132px;
}
.call-us a{
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin-top: 29px;
    color: #828282;
}
.approach .account a{
    font-size: 10px;
    font-weight: bold;
    margin-left: 26px;
    color: #000;
    text-shadow: 0 1px 2px #d0d2d4;
}
.login-btn button{
    float: right;
    width: 83px;
    height: 22px;
    font-size: 10px;
    font-weight: bold;
    margin-top: 20px;
    color: #ffffff;
    border: none;
    background-color: #00c6ff;
    box-shadow: 0 2px 0 #009cc9;
    border-radius: 3px;
}
.login-btn button:after{
    content: "\00BB";
    margin-left: 2px;
    color: #ffffff;
}
.navigation{
    float: left;
    width: 100%;
}
.navigation nav{
    float: left;
    width: 100%;
}
.navigation nav ul{
    float: left;
    width: 100%;
    padding: 0;
    margin-top: 17px;
    margin-bottom: 5px;
}
.navigation nav li{
    display: inline;
    padding-left: 25px;
}
.navigation nav li:last-child{
    padding-right: 0;
}
.navigation nav a{
    display: inline-block;
    height: 33px;
    font-size: 11px;
    font-weight: bold;
    color: #434c54;
    text-shadow: 0 1px 2px #d0d2d4;
}
.navigation nav a:active{
    color: #189ce7;
}
/*header styling ends*/


/*main page styling start*/
.main-content{
    float: left;
    width: 100%;
    min-height: 495px;
    background-color: #4d97ce;
}
.introduction{
    float: left;
    width: 50%;
}
.introduction h3{
    width: 92%;
    font-size: 48px;
    font-weight: lighter;
    margin: 114px 0 0 0;
    color: #ffffff;
    text-shadow: 0 1px 2px #a8cee7;
}
.introduction p{
    width:72%;
    font-size: 14px;
    line-height: 20px;
    margin-top: 21px;
    margin-bottom: 50px;
    color: #ffffff;
    text-shadow: 0 1px 2px #a8cee7;
}
.features button{
    float: left;
    width: 212px;
    height: 50px;
    font-size: 13px;
    font-weight: bold;
    margin-right: 23px;
    border: none;
    color: #ffffff;
    background-color: #01d6b5;
    box-shadow: 0 3px 0 #008671;
    text-shadow: 0 1px 2px #57a5d3;
    border-radius: 4px;
}
.features button:after{
    content: "\00BB";
    margin-left: 2px;
    color: #ffffff;
}
.request-info a{
    display: inline-block;
    float: left;
    width: 156px;
    height: 50px;
    line-height: 50px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 1px 2px #afd7ec;
    border: 1px solid #ffffff;
    border-radius: 4px;
}
.request-info a:after{
    content: "\00BB";
    margin-left: 2px;
    color: #ffffff;
}
.request-info a:hover{
    background: #189ce7;
}
.banner{
    float: left;
    width: 50%;
    height: 494px;
}
.banner img{
    margin-top: 93px;
}
.statistics-search{
    float: left;
    width: 100%;
    min-height: 444px;
    background-color: #ffffff;
    border-bottom: 1px solid #e9edef;
}
.statistics{
    float: left;
    width: 31%;
    text-align: center;
    margin-top: 90px;
}
.statistics h3{
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    text-shadow: 0 1px 2px #c7c7c7;
    color: #000;
}
.statistics p{
    width: 247px;
    font-size: 12px;
    font-weight: 100;
    line-height: 20px;
    padding-left: 20px;
    margin-bottom: 27px;
    text-shadow: 0 1px 2px #c7c7c7;
    color: #454e55;
}
.specific-places{
    float: left;
    width: 39%;
    text-align: center;
    margin-top: 90px;
}
.specific-places h3{
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    text-shadow: 0 1px 2px #c7c7c7;
    color: #000;
}
.specific-places p{
    width: 247px;
    font-size: 12px;
    font-weight: 100;
    line-height: 20px;
    padding-left: 68px;
    margin-bottom: 27px;
    text-shadow: 0 1px 2px #c7c7c7;
    color: #454e55;
}
.prs-report{
    float: left;
    width: 30%;
    text-align: center;
    margin-top: 90px;
}
.prs-report h3{
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    text-shadow: 0 1px 2px #c7c7c7;
    color: #000;
}
.prs-report p{
    width: 247px;
    font-size: 12px;
    font-weight: 100;
    line-height: 20px;
    padding-left: 18px;
    margin-bottom: 27px;
    text-shadow: 0 1px 2px #c7c7c7;
    color: #454e55;
}
.read-more a{
    font-size: 11px;
    font-weight: bold;
    color: #189ce7;
}
.main-products{
    float: left;
    width: 100%;
    min-height: 400px;
    background-color: #f7f9fa;
    border-bottom: 1px solid #e9edef;
}
.products-description{
    float: left;
    width: 50%;
    margin-top: 67px;
}
.border-line{
    width: 100%;
    height: 20px;
}
.border-line hr{
    float: left;
    width: 116px;
    border: 1px solid #000;
    border-bottom-width: 0;
}
.products-description h3{
    width: 330px;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 0 1px 2px #c7c7c7;
    color: #000;
}
.products-description p{
    width: 463px;
    font-size: 14px;
    font-weight: 100;
    line-height: 21px;
    text-shadow: 0 1px 2px #c7c7c7;
    color: #454e55;
}
.flood-map{
    float: left;
    width: 50%;
    margin-top: 76px;
}
.flood-map img{
    float: right;
}
.entries-report{
    float: left;
    width: 100%;
    min-height: 98px;
    background-color: #f7f9fa;
    border-bottom: 1px solid #e9edef;
}
.entries{
    float: left;
    width: 100%;
    margin-top: 30px;
    text-align: center;
}
.entries ul{
    list-style: none;
    width: 100%;
    margin: 0;
    padding-left: 27px;
}
.entries li{
    float: left;
    width: 188px;
    height: 24px;
}
.entries ul li .numbers{
    display: inline-block;
    width: 105px;
    height: 24px;
    font-size: 23px;
    text-shadow: 0 1px 2px #bfe2f5;
    color: #189ce7;
}
.entries ul li .text{
    display: inline-block;
    width: 100px;
    font-size: 14px;
    text-shadow: 0 1px 2px #c7c7c7;
    color: #000;
}
.reports-and-data {
    float: left;
    width: 100%;
    min-height: 475px;
    background-color: #f7f9fa;
}
.reports-left{
    float: left;
    width: 50%;
    margin-top: 62px;
}
.multiple-reports{
    float: left;
    width: 100%;
}
.multiple-reports img{
    float: left;
}
.multiple-reports h3{
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 10px 16px;
    text-shadow: 0 1px 2px #c7c7c7;
    color: #202020;
}
.multiple-reports p{
    width: 400px;
    float: left;
    font-size: 12px;
    font-weight: 100;
    line-height: 18px;
    margin-bottom: 40px;
    text-shadow: 0 1px 2px #c7c7c7;
    color: #454e55;
}
.reports-right{
    float: left;
    width: 43%;
    margin: 62px 0 0 62px;
}
.flood-report{
    float: left;
    width: 100%;
    min-height: 142px;
    background-color: #189ce7;
}
.ready-to-see{
    float: left;
    width: 40%;
    margin-top: 54px;
    margin-left: 112px;
    color: #ffffff;
}
.ready-to-see h5{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
.ready-to-see p{
    font-size: 12px;
    font-weight: 100;
    margin-top: 7px;
}
.get-flood-report{
    float: left;
    width: 47%;
    height: 100px;
}
.get-flood-report button{
    float: left;
    width: 226px;
    height: 50px;
    font-size: 13px;
    font-weight: bold;
    margin: 46px 0 0 148px;
    border: none;
    color: #ffffff;
    background-color: #01d6b5;
    box-shadow: 0 3px 0 #008671;
    text-shadow: 0 1px 2px #57a5d3;
    border-radius: 4px;
}
.get-flood-report button:after{
    content: "\00BB";
    margin-left: 2px;
    color: #ffffff;
}
.news-and-press{
    float: left;
    width: 100%;
    min-height: 855px;
    text-align: center;
    background-color: #f7f9fa;
}
.news-and-press h1{
    font-size: 23px;
    font-weight: 100;
    margin: 90px 0 18px 0;
    text-shadow: 0 1px 2px #c7c7c7;
    color: #000;
}
.news-line{
    width: 100%;
    height: 20px;
}
.news-line hr{
    width: 116px;
    border: 1px solid #000;
    border-bottom-width: 0;
}
.news-and-press p{
    font-size: 12px;
    font-weight: 100;
    margin: 0 0 38px 0;
    text-shadow: 0 1px 2px #c7c7c7;
    color: #454e55;
}
.different-news{
    float: left;
    width: 100%;
    text-align: left;
}
.news-for-professionals{
    float: left;
    width: 32.4%;
    margin-right: 9px;
    background-color: #ffffff;
    border-bottom: 1px solid #e6eef2
}
.news-and-press-content{
    float: left;
    width: 94%;
    margin-left: 20px;
}
.news-and-press-content h3{
    font-size: 16px;
    font-weight: bold;
    margin: 26px 0 26px 0;
    text-shadow: 0 1px 2px #c7c7c7;
    color: #202020;
}
.news-and-press-content p{
    width: 268px;
    font-size: 12px;
    font-weight: 100;
    line-height: 18px;
    margin-bottom: 30px;
    text-shadow: 0 1px 2px #c7c7c7;
    color: #454e55;
}
.read-full-article a{
    display: inline-block;
    width: 134px;
    height: 30px;
    font-size: 10px;
    font-weight: bold;
    line-height: 30px;
    color: #189ce7;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 0 1px 2px #c5e6f9;
    border: 2px solid #d4dce0;
    border-radius: 4px;
}
.pagination{
    float: left;
    width: 100%;
    margin-top: 40px;
}
.pagination button{
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #189ce7;
    background-color: #f7f9fa;
    border: 1px solid #189ce7;
    border-radius: 50%;
}
.pagination button:first-child{
    margin-right: 15px;
}
.pagination button:hover{
    background: #00c6ff;
    color: #ffffff;
}
.pagination span{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 14px;
}
/*main pages styling ends*/

/*footer styling starts*/
footer{
    float: left;
    width: 100%;
    min-height: 578px;
    text-align: center;
    background-color: #263139;
}
footer h1{
    font-size: 23px;
    font-weight: 100;
    margin: 90px 0 18px 0;
    text-shadow: 0 1px 2px #5c646a;
    color: #fefefe;
}
.footer-line{
    width: 100%;
    height: 20px;
}
.footer-line hr{
    width: 116px;
    border: 1px solid #ffffff;
    border-bottom-width: 0;
}
footer p{
    font-size: 12px;
    font-weight: 100;
    margin: 0 0 38px 0;
    color: #587183;
    text-shadow: 0 1px 2px #3f515e;
}
.footer-form{
    float: left;
    width: 100%;
    text-align: left;
}
.footer-form input{
    width: 297px;
    height: 45px;
    padding-left: 15px;
    margin: 0 15px 15px 0;
    border: 1px solid #323f49;
    background-color: #232d34;
    border-radius: 2px;
}
.footer-form form input:nth-child(3){
    margin-right: 0;
    width: 296px;
}
.footer-form ::-webkit-input-placeholder {
    font-size: 12px;
    color: #587183;
}
.footer-form textarea{
    resize: none;
    width: 961px;
    height: 145px;
    font-size: 12px;
    font-family: sans-serif;
    padding: 18px 0 0 18px;
    color: #587183;
    border: 1px solid #323f49;
    background-color: #232d34;
    border-radius: 2px;
}
.send-us button{
    width: 213px;
    height: 50px;
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    position: relative;
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: #263139;
    text-shadow: 0 1px 2px #92989c;
    border-radius: 4px;
}
.send-us button:after{
    content: "\00BB";
    margin-left: 5px;
    color: #ffffff;
    position: absolute;
    top: 17px;
}
.send-us button:hover{
    background: #00c6ff;
}
.ft-bottom{
    float: left;
    width: 100%;
    min-height: 128px;
    background-color: #181f24;
}
.ft-navigation{
    float: left;
    width: 50%;
}
.ft-navigation nav{
    float: left;
    width: 100%;
    margin-top: 38px;
}
.ft-navigation ul{
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
}
.ft-navigation li{
    display: inline;
    margin-right: 25px;
}
.ft-navigation a{
    display: inline-block;
    height: 26px;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 1px 2px #52575b;
}
.terms-and-policy{
    float: left;
    width: 100%;
}
.terms-and-policy span{
    font-size: 11px;
    font-weight: bold;
    margin-right: 15px;
    color: #ffffff;
    text-shadow: 0 1px 2px #52575b;
}
.terms-and-policy p{
    font-size: 10px;
    font-weight: 100;
    margin-top: 12px;
    color: #4e5f6b;
    text-shadow: 0 1px 2px #262f36;
}
.ft-black-logo{
    float: left;
    width: 50%;
}
.ft-black-logo img{
    float: right;
    margin: 55px 0 0 0;
}
.clear{
    clear: both;
}